<div class="flex flex-col gap-4 justify-center items-center">
  <div class="flex justify-center items-center gap-5">
    <a
      href="https://www.instagram.com/picanisok/"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Ir a nuestro Instagram"
    >
      <img
        src="/instagram.svg"
        alt="Instagram"
        class="size-7 transition-transform duration-300 hover:scale-110"
      />
    </a>
    <a
      href="https://wa.me/5491121547438"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Enviar un mensaje por WhatsApp"
    >
      <img
        src="/whatsapp.svg"
        alt="WhatsApp"
        class="size-7 transition-transform duration-300 hover:scale-110"
      />
    </a>
  </div>
</div>
