---
import SocialMedia from "./SocialMedia.astro";
---

<div
  id="container"
  class="flex flex-col justify-center items-center bg-gray-950 min-h-screen py-10 gap-8"
>
  <div class="flex flex-col justify-center items-center text-center px-4">
    <img class="w-32" src="/logo.svg" alt="Logo de Picanis" />
    <h1 class="text-primary text-6xl mt-4 font-bold">PICANIS</h1>
    <h2 class="text-primary text-xl mt-1">PROXIMAMENTE</h2>
  </div>

  <div class="relative animate-float">
    <div class="absolute inset-0 rounded-full blur-3xl bg-primary/10 -z-10">
    </div>
    <img
      class="w-lg lg:w-2xl animate-pulse-glow"
      src="/skullcat.png"
      alt="Skullcat, grinde de Picanis flotando con efecto glow"
      style="filter: drop-shadow(0 0px 20px rgba(207, 208, 177, 0.2));"
    />
  </div>

  <div class="flex flex-col justify-center items-center text-center px-4">
    <h2 class="text-white text-base sm:text-lg md:text-xl mb-2">CONTACTO</h2>
    <SocialMedia />
  </div>
</div>
